<div class="jumbotron">
  <%if current_user%>
    <p><!-- <span class="glyphicon glyphicon-heart"></span> --> Hi, <%= current_user.username%> <!-- <span class="glyphicon glyphicon-heart"></span> --></p>
  <%end%>
  <p>Welcome to IDEXCEL Chat App Using ActionCable</p>
</div>

